<header class="wrapper" id="header">
	<div class="container clear">
		<h1 id="brand">
			<a href="/"><img alt="iiirc" src="/images/iiirc.png" /></a>
		</h1>
		<div id="account_info">
			<a class="btn btn-blue" data-no-turbolink="true" href="/auth/github">Sign in with GitHub</a>
		</div>
	</div>
</header>
