<header class="header-container" id="header-container">
</header>

<div class="wrapper" id="contents">
	<div class="container outer-container clear">
		<div class="sidebar-container" id="sidebar-container">
		</div>
	</div>

	<div class="content-container" id="content-container">
	</div>
</div>

<footer class="footer-container" id="footer-container">
</footer>
