<header class="header-container" id="header-container"></header>

<div class="wrapper" id="contents">
	<div class="container outer-container clear">
		<nav id="navigations">
			<div class="navigation" id="organizations">
				<h4 class="title bubble">Organizations</h4>
				<ul class="links" id="organization-list">
					<li class="link">
						<a href="/">#all</a>
					</li>
				</ul>
			</div>

			<div class="navigation">
				<h4 class="title bubble">
					Subscribe
				</h4>
				<ul class="links">
					<li class="link">
						<a href="http://twitter.com/iiircorg" target="_blank">Twitter</a>
					</li>
					<li class="link">
						<a href="/snippets.atom" target="_blank">Atom</a>
					</li>
					<li class="link">
						<a href="https://github.com/iiirc/iiirc/" target="_blank">GitHub</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="page-container" id="page-container">
	</div>
</div>

<footer class="footer-container" id="footer-container"></footer>
